In [8]:
import pandas as pd


african_countries = [
    'Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi',
    'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros',
    'Congo', 'Democratic Republic of the Congo', "CÃ´te d'Ivoire", 'Djibouti',
    'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon',
    'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
    'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
    'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
    'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia',
    'South Africa', 'South Sudan', 'Sudan', 'Togo', 'Tunisia', 'Uganda',
    'United Republic of Tanzania', 'Zambia', 'Zimbabwe'
]

def filter_african_countries(csv_file):
    df = pd.read_csv(csv_file)
    
    df_filtered = df[df['Geographic area'].isin(african_countries)]
    
    return df_filtered

def main(csv_file_path, output_file_path=None):
    filtered_df = filter_african_countries(csv_file_path)
    
    if output_file_path:
        filtered_df.to_csv(output_file_path, index=False)
    
    return filtered_df


csv_file = 'Cause of death.csv'
output_file = 'unicef_Cause_of_death.csv'

# Run the main function
filtered_african_df = main(csv_file, output_file)

In [3]:
filtered_african_df

,REF_AREA,Reference Area,INDICATOR,Indicator,SEX,Sex,EDUCATION_LEVEL,Education Level,SCHOOL_SUBJECT,School subject,...,Unit of measure,DISABILITY,Disability status,AGE,Current age,TIME_PERIOD,OBS_VALUE,SERIES_ID,OBS_FOOTNOTE,DATA_SOURCE
14,AGO,Angola,UIS_SDG_ADMI,Administration of a nationally representative ...,_T,Total,L2,Lower secondary education,MATH,Mathematics,...,Number,_T,No breakdown,_T,Total,2014,0.00000,UIS_SDG_ADMI_L2_MATH_NUMBER,NaN,UIS
15,AGO,Angola,UIS_SDG_ADMI,Administration of a nationally representative ...,_T,Total,L2,Lower secondary education,MATH,Mathematics,...,Number,_T,No breakdown,_T,Total,2015,0.00000,UIS_SDG_ADMI_L2_MATH_NUMBER,NaN,UIS
16,AGO,Angola,UIS_SDG_ADMI,Administration of a nationally representative ...,_T,Total,L2,Lower secondary education,MATH,Mathematics,...,Number,_T,No breakdown,_T,Total,2016,0.00000,UIS_SDG_ADMI_L2_MATH_NUMBER,NaN,UIS
17,AGO,Angola,UIS_SDG_ADMI,Administration of a nationally representative ...,_T,Total,L2,Lower secondary education,MATH,Mathematics,...,Number,_T,No breakdown,_T,Total,2017,0.00000,UIS_SDG_ADMI_L2_MATH_NUMBER,NaN,UIS
18,AGO,Angola,UIS_SDG_ADMI,Administration of a nationally representative ...,_T,Total,L2,Lower secondary education,MATH,Mathematics,...,Number,_T,No breakdown,_T,Total,2018,0.00000,UIS_SDG_ADMI_L2_MATH_NUMBER,NaN,UIS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2721288,ZAF,South Africa,UIS_OPRI_XSPENDP_TS,Teaching staff compensation as a percentage of...,_T,Total,_T,Total,_T,Total,...,%,_T,No breakdown,_T,Total,2019,57.46629,UIS_OPRI_XSPENDP_TS_PUB_PCNT,NaN,UIS
2721289,ZAF,South Africa,UIS_OPRI_XSPENDP_TS,Teaching staff compensation as a percentage of...,_T,Total,_T,Total,_T,Total,...,%,_T,No breakdown,_T,Total,2020,57.19094,UIS_OPRI_XSPENDP_TS_PUB_PCNT,NaN,UIS
2721290,ZMB,Zambia,UIS_OPRI_XSPENDP_TS,Teaching staff compensation as a percentage of...,_T,Total,_T,Total,_T,Total,...,%,_T,No breakdown,_T,Total,2004,71.26970,UIS_OPRI_XSPENDP_TS_PUB_PCNT,NaN,UIS
2721291,ZMB,Zambia,UIS_OPRI_XSPENDP_TS,Teaching staff compensation as a percentage of...,_T,Total,_T,Total,_T,Total,...,%,_T,No breakdown,_T,Total,2015,71.58938,UIS_OPRI_XSPENDP_TS_PUB_PCNT,NaN,UIS
2721292,ZMB,Zambia,UIS_OPRI_XSPENDP_TS,Teaching staff compensation as a percentage of...,_T,Total,_T,Total,_T,Total,...,%,_T,No breakdown,_T,Total,2016,75.55357,UIS_OPRI_XSPENDP_TS_PUB_PCNT,NaN,UIS